body { }

div#chat {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    background-color: #2196F3;
}

div#shiritori {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    background-color: #009688;
}

div#fiveBomber {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    background-color: #FF9800;
}
